In [1]:
import pandas as pd
import numpy as np

1. train.csv / test.csv\
id 고유 id\
hour 시간\
temperature 기온\
precipitation 비가 오지 않았으면 0, 비가 오면 1\
windspeed 풍속(평균)\
humidity 습도\
visibility 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)\
ozone 오존\
pm10 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)\
pm2.5 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)\
count 시간에 따른 따릉이 대여 수

In [3]:
df = pd.read_csv("./data/따릉이/train.csv")
df

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
...,...,...,...,...,...,...,...,...,...,...,...
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0,21.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0,20.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0,22.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0,216.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0,170.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

### 1-1. hour 기준으로 오름차순 정리
### 1-2. hour 마다의 count의 합 출력하기

In [10]:
df.sort_values("hour",ascending=True)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
149,223,0,18.6,0.0,0.3,58.0,554.0,0.053,110.0,63.0,104.0
485,748,0,14.8,0.0,1.2,64.0,2000.0,0.042,28.0,16.0,78.0
1224,1847,0,16.8,0.0,0.6,62.0,2000.0,0.029,35.0,19.0,94.0
829,1260,0,15.6,0.0,2.3,62.0,1433.0,0.023,56.0,36.0,93.0
473,729,0,13.8,0.0,3.2,69.0,518.0,0.042,79.0,46.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...
1146,1733,23,19.5,0.0,2.7,47.0,1753.0,0.040,53.0,35.0,134.0
820,1245,23,10.0,0.0,2.1,86.0,486.0,0.010,41.0,NaN,73.0
1160,1751,23,20.4,0.0,2.7,73.0,868.0,0.069,55.0,37.0,124.0
1369,2056,23,13.1,0.0,2.1,31.0,2000.0,0.036,31.0,13.0,98.0
1036,1557,23,9.5,0.0,2.9,37.0,2000.0,0.036,56.0,15.0,58.0

In [11]:
df.groupby("hour")["count"].sum()

hour
0      4306.0
1      2904.0
2      1916.0
3      1304.0
4       825.0
5       800.0
6      1498.0
7      3804.0
8      8338.0
9      5706.0
10     4807.0
11     5388.0
12     6826.0
13     7203.0
14     8210.0
15     9331.0
16    10146.0
17    11228.0
18    15992.0
19    12298.0
20    10057.0
21    10129.0
22     9043.0
23     6335.0
Name: count, dtype: float64

### 2-1 각 컬럼의 결측치의 갯수를 출력하기
### 2-2 컬럼에서의 결측치를 그 컬럼의 평균값으로 채우기(가능하면 for 문 사용 안하셔도 상관없습니다.)

In [12]:
df.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [21]:
a = df["hour_bef_pm2.5"].dropna().mean()
b = df["hour_bef_pm2.5"].dropna().std()
print(a)
print(b)

30.327123695976155
14.71325204552034

In [23]:
df["hour_bef_pm2.5"].fillna(a, inplace=True)

In [25]:
df.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       2
hour_bef_precipitation     2
hour_bef_windspeed         9
hour_bef_humidity          2
hour_bef_visibility        2
hour_bef_ozone            76
hour_bef_pm10             90
hour_bef_pm2.5             0
count                      0
dtype: int64

In [26]:
for col in df.columns:
    a = df[col].dropna().mean()
    df[col].fillna(a, inplace=True)

In [28]:
df.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

### 3-1 target은 count로 feature와 target 분리하기
### 3-2 train 0.8 test 0.2로 분리하기
### 3-3 회귀분석으로 mse 값 화인하기

In [29]:
feature = df.drop('count',axis=1)
target = df["count"]

In [30]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train , y_test = train_test_split(feature, target, test_size=0.2,random_state=0)

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
lr = LinearRegression()

In [49]:
lr.fit(X_train,y_train)

LinearRegression()

In [53]:
pre = lr.predict(X_test)
pre

array([ 32.95660858, 106.3327316 , 124.94504523,  19.11815935,
       131.19766761, 172.33297867, 127.20438535, 114.15229599,
        94.00826803,  24.20220472, 132.85346082, 142.00556996,
        92.0862497 , 175.51715836,  -4.47517183,  81.03223141,
       143.30281706, 119.8041898 , 217.40807022,   4.23889417,
        13.96120615,   5.13091912, 180.80883311,  90.40634447,
       162.26534036,  80.44951877, 179.78627591,  14.86486826,
        62.3021564 ,  83.58528981, 193.73389316,  23.90043373,
        43.02550107, 196.31676373, 178.62308083, 205.13963423,
       -12.33155975, 219.43145127, 156.16179184, 164.27191665,
       145.7806605 , 148.99318152,  78.3468197 ,  51.36520907,
       193.85080345,  21.24453121, 114.08174812,  87.00137059,
         6.75640681, 102.55094697,  38.67567488, 135.95726281,
        49.18372953,  70.87496584, 215.59676209,  51.75271256,
        73.44878546,  70.58740692,  68.57307851,  19.31587371,
        88.26836155,  46.48197858, 172.51791881, 247.69445579,
       128.6446177 , 135.9314035 , 175.3537538 , 176.49759446,
       159.05445333,  59.57312237, 123.00537172, 156.62277843,
        14.84382767,  90.98969541, 167.96928657,  39.8336014 ,
       138.51684676, 153.95582149,  21.49530171, 206.81801334,
       158.61685605, 210.51677145, 191.06701193,  85.29338847,
       146.828324  , 127.28260822, 162.59513379,  84.26801105,
       149.99428157, 156.40799392,  38.86541086, 180.20885512,
       142.32243907,  55.43084781,  76.84475829,  94.16627262,
       186.99891067, -10.94090546,  32.72862138, 193.91573718,
       101.83357058, 154.85206311,  53.89084667,  45.73834863,
       160.36763982,  34.83081695, 143.20812187,  59.96859771,
       120.17446096,  60.01459225,  47.24958324,  98.13544457,
       165.28662323, 101.78721222, 201.96618177,  35.68522739,
        63.79925654,  43.52137043, 158.46410889, 208.42720234,
       158.82958934,  70.51180792,  65.763016  , 129.03207834,
       121.93547938, 195.81462095, 163.70200478,  33.788855  ,
        66.25858406,  31.803988  ,  64.16297233,  65.62799487,
        36.60510865,  37.83769009, 108.60354542, 151.86085232,
       113.79757167,  73.95735647, 109.97476087,  88.7510031 ,
       145.27924902,  21.3647854 , 122.61664097,  33.16833251,
       178.30164093,  81.65022119, 212.12594156, 172.37586581,
       154.61650338,  26.05995103, 117.26183214, 136.51224155,
        -5.86685772,  11.84153478, 114.19243824,  65.49074947,
       154.13785517,  15.63449012, 131.34930436,  28.57756455,
       148.83924958, 136.4376098 ,  15.15773214,  44.08156672,
       139.1656185 ,  42.32536568,  41.914702  ,  -4.56999576,
        78.5578808 , 131.30774531,  36.18474649,  52.13802051,
       210.28920552, 123.76370906, 138.43547168,  29.7293736 ,
        50.24265641, 176.86638479,  86.23070204, 107.11841068,
        64.3593909 ,  31.84699144, 182.63490115, 109.00548777,
       102.04091134, 216.8650116 , 143.67503368, 165.76835771,
       148.61238575, 155.56632521,  18.01527796, 172.28151204,
        26.47529176,  18.61089292,  55.50792491, 198.4513768 ,
        27.44817618,  -3.14189163,  74.91204291,  61.41453699,
       144.62993063, 140.88507648,  40.63350867, 183.16883268,
        -6.22361041, 120.10680364, 153.24479717, 140.50865702,
       151.57784901,  42.34384757,  56.26366592,  54.61323913,
        26.58809804,  25.89501573, 135.91575376, 115.03353857,
       161.08200093, 147.19137647,  43.61655112, 137.1987318 ,
        51.29584739,  90.70376413, 157.38429482, 163.15848961,
        62.00892599, 147.41758246, 184.39428586, 121.02321964,
       189.66352195, 103.21487266,  52.34616342, 148.1056282 ,
       176.43218194, 160.52063612, 182.97001355,  68.23239138,
        52.05260439,  20.73355269,   7.03423256,  13.74836003,
        55.42943964, 127.08831521, 185.02974924,  51.41785998,
       175.27153179, 163.930131  ,  27.84331822,  81.04448951,
       179.06616917,  42.69132594, 118.8299501 ,  83.07997028,
       139.75134822, 112.40614464,  36.89595201, 153.5476061 ,
       173.05544302,  28.32407585,  21.5970077 , 113.43124612,
        49.14243993,  48.2480199 ,  63.24792825, 227.94618811,
       189.26551187,   6.15531662, 141.17899511,  18.84445488,
        71.65396236, 158.93007024,  45.16881693,  52.86270679,
        34.43757497,  -5.41914807, 203.0332977 ,  97.53590531,
       158.76868808,  64.74455618,  39.18021372, 166.80575824,
        -7.52113629, 129.41082179, 212.80433154, 207.41647292,
        38.32986584, 170.5362158 ,  66.80991648,  39.37831098,
        88.48138364, 172.06842311,  93.14935121, 165.1459098 ])

In [52]:
from sklearn.metrics import mean_squared_error

mean_squared_error(pre, y_test)

2440.956625762362