In [218]:
import pandas as pd
import numpy as np

In [219]:
train = pd.read_csv("./데이터/버스 운행시간 데이터/train.csv")
test = pd.read_csv("./데이터/버스 운행시간 데이터/test.csv")
submission = pd.read_csv("./데이터/버스 운행시간 데이터/submission_제출양식.csv")

In [220]:
train

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210452,210452,2019-10-28,405328102,7983486,281-2,33.255783,126.577450,비석거리,21시,528.0,삼아아파트,33.251896,126.574417,96
210453,210453,2019-10-28,405328102,7983486,281-2,33.248595,126.568527,동문로터리,21시,280.0,매일올레시장 7번입구,33.249753,126.565959,50
210454,210454,2019-10-28,405328102,7983486,281-2,33.251891,126.560303,서귀포시 구 버스터미널,21시,114.0,아랑조을거리 입구,33.251084,126.559551,16
210455,210455,2019-10-28,405328102,7983486,281-2,33.251084,126.559551,아랑조을거리 입구,21시,223.0,평생학습관,33.249504,126.558068,38
210456,210456,2019-10-28,405328102,7983486,281-2,33.248487,126.511195,대륜동주민센터,21시,189.0,서귀포버스터미널(가상정류소),33.249091,126.509224,24

In [221]:
train.drop('id',axis=1,inplace=True)
test.drop('id',axis=1,inplace=True)

In [222]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              210457 non-null  object
 1   route_id          210457 non-null  int64
 2   vh_id             210457 non-null  int64
 3   route_nm          210457 non-null  object
 4   now_latitude      210457 non-null  float64
 5   now_longitude     210457 non-null  float64
 6   now_station       210457 non-null  object
 7   now_arrive_time   210457 non-null  object
 8   distance          210457 non-null  float64
 9   next_station      210457 non-null  object
 10  next_latitude     210457 non-null  float64
 11  next_longitude    210457 non-null  float64
 12  next_arrive_time  210457 non-null  int64
dtypes: float64(5), int64(3), object(5)
memory usage: 20.9+ MB

In [223]:
train

,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210452,2019-10-28,405328102,7983486,281-2,33.255783,126.577450,비석거리,21시,528.0,삼아아파트,33.251896,126.574417,96
210453,2019-10-28,405328102,7983486,281-2,33.248595,126.568527,동문로터리,21시,280.0,매일올레시장 7번입구,33.249753,126.565959,50
210454,2019-10-28,405328102,7983486,281-2,33.251891,126.560303,서귀포시 구 버스터미널,21시,114.0,아랑조을거리 입구,33.251084,126.559551,16
210455,2019-10-28,405328102,7983486,281-2,33.251084,126.559551,아랑조을거리 입구,21시,223.0,평생학습관,33.249504,126.558068,38
210456,2019-10-28,405328102,7983486,281-2,33.248487,126.511195,대륜동주민센터,21시,189.0,서귀포버스터미널(가상정류소),33.249091,126.509224,24

In [224]:
# date 의 object 타입을 Datetime으로 변경
train["date"]=pd.to_datetime(train["date"])
test["date"]=pd.to_datetime(test["date"])

In [225]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              210457 non-null  datetime64[ns]
 1   route_id          210457 non-null  int64
 2   vh_id             210457 non-null  int64
 3   route_nm          210457 non-null  object
 4   now_latitude      210457 non-null  float64
 5   now_longitude     210457 non-null  float64
 6   now_station       210457 non-null  object
 7   now_arrive_time   210457 non-null  object
 8   distance          210457 non-null  float64
 9   next_station      210457 non-null  object
 10  next_latitude     210457 non-null  float64
 11  next_longitude    210457 non-null  float64
 12  next_arrive_time  210457 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 20.9+ MB

In [226]:
# 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일
train["weekday"]=train["date"].dt.weekday
test["weekday"]=test["date"].dt.weekday
train

,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time,weekday
0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24,1
1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36,1
2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40,1
3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42,1
4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210452,2019-10-28,405328102,7983486,281-2,33.255783,126.577450,비석거리,21시,528.0,삼아아파트,33.251896,126.574417,96,0
210453,2019-10-28,405328102,7983486,281-2,33.248595,126.568527,동문로터리,21시,280.0,매일올레시장 7번입구,33.249753,126.565959,50,0
210454,2019-10-28,405328102,7983486,281-2,33.251891,126.560303,서귀포시 구 버스터미널,21시,114.0,아랑조을거리 입구,33.251084,126.559551,16,0
210455,2019-10-28,405328102,7983486,281-2,33.251084,126.559551,아랑조을거리 입구,21시,223.0,평생학습관,33.249504,126.558068,38,0
210456,2019-10-28,405328102,7983486,281-2,33.248487,126.511195,대륜동주민센터,21시,189.0,서귀포버스터미널(가상정류소),33.249091,126.509224,24,0

In [227]:
train.groupby(["date"])["next_arrive_time"].mean()

date
2019-10-15    85.666458
2019-10-16    86.170848
2019-10-17    86.896218
2019-10-18    87.000265
2019-10-19    83.506377
2019-10-20    82.519768
2019-10-21    85.626436
2019-10-22    85.277673
2019-10-23    86.096327
2019-10-24    86.057099
2019-10-25    86.826195
2019-10-26    83.952426
2019-10-27    82.915079
2019-10-28    86.257282
Name: next_arrive_time, dtype: float64

In [228]:
train.groupby(["weekday"])["next_arrive_time"].mean()

weekday
0    85.926136
1    85.476095
2    86.133721
3    86.487632
4    86.913709
5    83.720544
6    82.714732
Name: next_arrive_time, dtype: float64

In [229]:
# 05시가 살짝 이상하다
train.groupby(["now_arrive_time"])["next_arrive_time"].mean()

now_arrive_time
00시     56.000000
05시    132.956879
06시     85.986443
07시     85.488697
08시     87.666715
09시     82.414015
10시     82.623780
11시     83.547988
12시     83.550733
13시     84.070471
14시     84.036134
15시     84.904250
16시     86.759573
17시     90.705271
18시     94.958882
19시     87.240979
20시     83.124705
21시     82.479252
22시     75.355796
23시     63.387665
Name: next_arrive_time, dtype: float64

In [230]:
train[train["now_arrive_time"]=='05시']

,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time,weekday
1266,2019-10-15,405136001,7997080,360-1,33.484860,126.542928,제주여자중고등학교(아라방면),05시,578.0,남국원(아라방면),33.479705,126.543811,38,1
1267,2019-10-15,405136001,7997080,360-1,33.479705,126.543811,남국원(아라방면),05시,355.0,아라초등학교,33.476533,126.544283,44,1
1268,2019-10-15,405136001,7997080,360-1,33.476533,126.544283,아라초등학교,05시,350.0,아라주공아파트,33.473655,126.545425,38,1
1269,2019-10-15,405136001,7997080,360-1,33.473655,126.545425,아라주공아파트,05시,244.0,인다마을,33.471450,126.545400,24,1
1270,2019-10-15,405136001,7997080,360-1,33.471450,126.545400,인다마을,05시,330.0,제주대학교병원,33.469089,126.547389,28,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204203,2019-10-28,405320114,7983228,201-14,33.249504,126.558068,평생학습관,05시,223.0,아랑조을거리 입구,33.251084,126.559551,38,0
204204,2019-10-28,405320114,7983228,201-14,33.250883,126.564050,청소년문화의집,05시,218.0,매일올레시장 7번입구,33.249753,126.565959,54,0
204205,2019-10-28,405320114,7983228,201-14,33.249753,126.565959,매일올레시장 7번입구,05시,280.0,동문로터리,33.248595,126.568527,74,0
204206,2019-10-28,405320114,7983228,201-14,33.248595,126.568527,동문로터리,05시,384.0,주공 3 4단지,33.250098,126.571865,64,0
204207,2019-10-28,405320114,7983228,201-14,33.250098,126.571865,주공 3 4단지,05시,312.0,삼아아파트,33.251896,126.574417,48,0

In [231]:
train.groupby(["now_arrive_time"])["distance"].mean().sort_values().index.tolist()

['23시',
 '05시',
 '19시',
 '21시',
 '06시',
 '22시',
 '20시',
 '07시',
 '10시',
 '09시',
 '11시',
 '14시',
 '12시',
 '18시',
 '15시',
 '08시',
 '13시',
 '16시',
 '17시',
 '00시']

In [232]:
train["now_arrive_time"].value_counts()

08시    13838
09시    13700
07시    13581
16시    13476
12시    13433
19시    13275
13시    13197
17시    13090
10시    13011
18시    12987
15시    12846
14시    12592
11시    12524
20시    11852
21시    11230
06시     8409
22시     6470
05시      487
23시      454
00시        5
Name: now_arrive_time, dtype: int64

In [233]:
train.groupby(["route_id"])["next_arrive_time"].mean()

route_id
405136001     92.063688
405136002    108.270852
405136007     94.172947
405136012    111.322633
405136521    114.673939
405136522    101.339188
405320111     68.901710
405320112     67.602392
405320113     68.403649
405320114     66.634818
405320115     71.313237
405320116     68.122969
405320117     69.239122
405320118     67.643471
405320121     65.985019
405320122     63.955199
405320124     66.205659
405320126     66.512570
405320127     70.824370
405328101     87.579634
405328102     85.744862
Name: next_arrive_time, dtype: float64

In [234]:
train.groupby(["vh_id"])["next_arrive_time"].mean()

vh_id
7983000     66.160976
7983005     67.585768
7983010     68.355263
7983013     67.186155
7983014     71.756560
              ...
7997118     90.099788
7997119     99.159121
7997120     99.105699
7997123    103.988722
7997124     91.012563
Name: next_arrive_time, Length: 104, dtype: float64

In [235]:
train.groupby(["route_nm"])["next_arrive_time"].mean()

route_nm
201-11     68.901710
201-12     67.602392
201-13     68.403649
201-14     66.634818
201-15     71.313237
201-16     68.122969
201-17     69.239122
201-18     67.643471
201-21     65.985019
201-22     63.955199
201-24     66.205659
201-26     66.512570
201-27     70.824370
281-1      87.579634
281-2      85.744862
360-1      92.063688
360-12    111.322633
360-2     108.270852
360-7      94.172947
365-21    114.673939
365-22    101.339188
Name: next_arrive_time, dtype: float64

In [236]:
train.drop(["now_station","next_station"],axis=1,inplace=True)
test.drop(["now_station","next_station"],axis=1,inplace=True)

In [237]:
train.drop(["date","route_id","vh_id"],axis=1, inplace=True)
test.drop(["date","route_id","vh_id"],axis=1, inplace=True)

In [238]:
train["route_nm"]=train["route_nm"].str.replace('-','')
test["route_nm"]=test["route_nm"].str.replace('-','')

In [239]:
train["now_arrive_time"]=train["now_arrive_time"].str.replace('시','')
train["now_arrive_time"]=train["now_arrive_time"].astype(int)
train["route_nm"]=train["route_nm"].astype(int)

In [240]:
test["now_arrive_time"]=test["now_arrive_time"].str.replace('시','')
test["now_arrive_time"]=test["now_arrive_time"].astype(int)
test["route_nm"]=test["route_nm"].astype(int)

In [241]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   route_nm          210457 non-null  int32
 1   now_latitude      210457 non-null  float64
 2   now_longitude     210457 non-null  float64
 3   now_arrive_time   210457 non-null  int32
 4   distance          210457 non-null  float64
 5   next_latitude     210457 non-null  float64
 6   next_longitude    210457 non-null  float64
 7   next_arrive_time  210457 non-null  int64
 8   weekday           210457 non-null  int64
dtypes: float64(5), int32(2), int64(2)
memory usage: 12.8 MB

In [242]:
train.drop(["now_arrive_time"],axis=1,inplace=True)
test.drop(["now_arrive_time"],axis=1,inplace=True)

In [243]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [244]:
lr = LinearRegression()

In [245]:
feature = train.drop("next_arrive_time",axis=1)
target = train["next_arrive_time"]

In [246]:
from sklearn.preprocessing import MinMaxScaler

# 변형 객체 생성
minmax_scaler = MinMaxScaler()

# 훈련데이터의 모수 분포 저장
minmax_scaler.fit(feature)

# 훈련 데이터 스케일링
feature_scaled = minmax_scaler.transform(feature)

# 테스트 데이터의 스케일링
test_scaled = minmax_scaler.transform(test)

# 스케일링 된 결과 값으로 본래 값을 구할 수도 있다.
# X_origin = minmax_scaler.inverse_transform(feature_scaled)

feature_scaled = pd.DataFrame(data = feature_scaled, columns=feature.columns)
test_scaled = pd.DataFrame(data = test_scaled, columns=test.columns)
# y_train = pd.DataFrame(y_train)
# y_train.reset_index(drop='index', inplace=True)
# y_test = pd.DataFrame(y_test)
# y_test.reset_index(drop='index', inplace=True)

In [247]:
import statsmodels.api as sm

feature_add = sm.add_constant(feature_scaled,  has_constant='add')

# sm OLS 적합
model = sm.OLS(target , feature_add)
fitted_model = model.fit()

# summary 함수통해 결과출력
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       next_arrive_time   R-squared:                       0.230
Model:                            OLS   Adj. R-squared:                  0.230
Method:                 Least Squares   F-statistic:                     8994.
Date:                Fri, 10 Mar 2023   Prob (F-statistic):               0.00
Time:                        17:13:21   Log-Likelihood:            -1.2062e+06
No. Observations:              210457   AIC:                         2.412e+06
Df Residuals:                  210449   BIC:                         2.412e+06
Df Model:                           7
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             50.8197      0.490    103.761      0.000      49.860      51.780
route_nm          12.4100      0.446     27.811      0.000      11.535      13.285
now_latitude     -86.1329     10.975     -7.848      0.000    -107.644     -64.622
now_longitude   -182.3704     19.858     -9.184      0.000    -221.292    -143.449
distance         550.2830      2.323    236.835      0.000     545.729     554.837
next_latitude    109.5195     10.983      9.972      0.000      87.993     131.046
next_longitude   134.1703     19.882      6.748      0.000      95.202     173.139
weekday           -2.4836      0.492     -5.045      0.000      -3.448      -1.519
==============================================================================
Omnibus:                   410894.600   Durbin-Watson:                   1.870
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1575113741.369
Skew:                          15.428   Prob(JB):                         0.00
Kurtosis:                     425.694   Cond. No.                         272.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [248]:
test_add = sm.add_constant(test_scaled,  has_constant='add')

In [249]:
lr.fit(feature_add, target)

LinearRegression()

In [250]:
pred = lr.predict(test_add)
pred

array([77.25354124, 83.40072059, 92.40436749, ..., 87.132941  ,
       66.69847515, 96.02341192])

In [251]:
submission2 = submission
submission2["next_arrive_time"] = pred

In [252]:
submission2

           id  next_arrive_time
0      210457         77.253541
1      210458         83.400721
2      210459         92.404367
3      210460         85.532996
4      210461         99.691596
...       ...               ...
91769  302350         75.897843
91770  302351         89.625653
91771  302352         87.132941
91772  302353         66.698475
91773  302354         96.023412

[91774 rows x 2 columns]

In [253]:
submission2.to_csv("제출용2.csv",index=False)