In [133]:
import pandas as pd
import numpy as np

In [134]:
train = pd.read_csv("./데이터/버스 운행시간 데이터/train.csv")
test = pd.read_csv("./데이터/버스 운행시간 데이터/test.csv")
submission = pd.read_csv("./데이터/버스 운행시간 데이터/submission_제출양식.csv")

In [135]:
train.drop('id',axis=1,inplace=True)
test.drop('id',axis=1,inplace=True)

In [136]:
train

,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210452,2019-10-28,405328102,7983486,281-2,33.255783,126.577450,비석거리,21시,528.0,삼아아파트,33.251896,126.574417,96
210453,2019-10-28,405328102,7983486,281-2,33.248595,126.568527,동문로터리,21시,280.0,매일올레시장 7번입구,33.249753,126.565959,50
210454,2019-10-28,405328102,7983486,281-2,33.251891,126.560303,서귀포시 구 버스터미널,21시,114.0,아랑조을거리 입구,33.251084,126.559551,16
210455,2019-10-28,405328102,7983486,281-2,33.251084,126.559551,아랑조을거리 입구,21시,223.0,평생학습관,33.249504,126.558068,38
210456,2019-10-28,405328102,7983486,281-2,33.248487,126.511195,대륜동주민센터,21시,189.0,서귀포버스터미널(가상정류소),33.249091,126.509224,24

In [137]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

encoder.fit(train["next_station"])

LabelEncoder()

In [138]:
train["now_station"] = encoder.transform(train["now_station"])
train["next_station"] = encoder.transform(train["next_station"])

In [139]:
test["now_station"] = encoder.transform(test["now_station"])
test["next_station"] = encoder.transform(test["next_station"])

In [140]:
train

,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,239,06시,266.0,227,33.457724,126.554014,24
1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,227,06시,333.0,228,33.458783,126.557353,36
2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,228,06시,415.0,235,33.459893,126.561624,40
3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,41,06시,578.0,249,33.484860,126.542928,42
4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,63,07시,374.0,221,33.485822,126.490897,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210452,2019-10-28,405328102,7983486,281-2,33.255783,126.577450,95,21시,528.0,108,33.251896,126.574417,96
210453,2019-10-28,405328102,7983486,281-2,33.248595,126.568527,65,21시,280.0,81,33.249753,126.565959,50
210454,2019-10-28,405328102,7983486,281-2,33.251891,126.560303,122,21시,114.0,178,33.251084,126.559551,16
210455,2019-10-28,405328102,7983486,281-2,33.251084,126.559551,178,21시,223.0,298,33.249504,126.558068,38
210456,2019-10-28,405328102,7983486,281-2,33.248487,126.511195,58,21시,189.0,120,33.249091,126.509224,24

In [141]:
# date 의 object 타입을 Datetime으로 변경
train["date"]=pd.to_datetime(train["date"])
test["date"]=pd.to_datetime(test["date"])

In [142]:
train.drop(["now_latitude","now_longitude","next_latitude","next_longitude"],axis=1, inplace=True)
test.drop(["now_latitude","now_longitude","next_latitude","next_longitude"],axis=1, inplace=True)

In [143]:
# 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일
train["weekday"]=train["date"].dt.weekday
test["weekday"]=test["date"].dt.weekday
train

,date,route_id,vh_id,route_nm,now_station,now_arrive_time,distance,next_station,next_arrive_time,weekday
0,2019-10-15,405136001,7997025,360-1,239,06시,266.0,227,24,1
1,2019-10-15,405136001,7997025,360-1,227,06시,333.0,228,36,1
2,2019-10-15,405136001,7997025,360-1,228,06시,415.0,235,40,1
3,2019-10-15,405136001,7997025,360-1,41,06시,578.0,249,42,1
4,2019-10-15,405136001,7997025,360-1,63,07시,374.0,221,64,1
...,...,...,...,...,...,...,...,...,...,...
210452,2019-10-28,405328102,7983486,281-2,95,21시,528.0,108,96,0
210453,2019-10-28,405328102,7983486,281-2,65,21시,280.0,81,50,0
210454,2019-10-28,405328102,7983486,281-2,122,21시,114.0,178,16,0
210455,2019-10-28,405328102,7983486,281-2,178,21시,223.0,298,38,0
210456,2019-10-28,405328102,7983486,281-2,58,21시,189.0,120,24,0

In [144]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

encoder.fit(train["route_id"])

LabelEncoder()

In [145]:
train["route_id"] = encoder.transform(train["route_id"])
test["route_id"] = encoder.transform(test["route_id"])

In [146]:
train.drop(["date","vh_id","route_nm"],axis=1,inplace=True)
test.drop(["date","vh_id","route_nm"],axis=1,inplace=True)

In [147]:
list = train.groupby(["now_arrive_time"])["distance"].mean().sort_values(ascending=False).index.tolist()
list

['00시',
 '17시',
 '16시',
 '13시',
 '08시',
 '15시',
 '18시',
 '12시',
 '14시',
 '11시',
 '09시',
 '10시',
 '07시',
 '20시',
 '22시',
 '06시',
 '21시',
 '19시',
 '05시',
 '23시']

In [150]:
a = 0
for i in list:
    train["now_arrive_time"] = train.now_arrive_time.replace(i,a)
    test["now_arrive_time"] = test.now_arrive_time.replace(i,a)
    a += 1

In [162]:
train.drop(["now_station","next_station"],axis=1,inplace=True)
test.drop(["now_station","next_station"],axis=1,inplace=True)

In [163]:
feature = train.drop("next_arrive_time",axis=1)
target = train["next_arrive_time"]

In [164]:
import statsmodels.api as sm

feature_add = sm.add_constant(feature,  has_constant='add')

# sm OLS 적합
model = sm.OLS(target , feature_add)
fitted_model = model.fit()

# summary 함수통해 결과출력
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       next_arrive_time   R-squared:                       0.213
Model:                            OLS   Adj. R-squared:                  0.213
Method:                 Least Squares   F-statistic:                 1.423e+04
Date:                Fri, 10 Mar 2023   Prob (F-statistic):               0.00
Time:                        17:29:18   Log-Likelihood:            -1.2085e+06
No. Observations:              210457   AIC:                         2.417e+06
Df Residuals:                  210452   BIC:                         2.417e+06
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              69.4800      0.494    140.770      0.000      68.513      70.447
route_id           -1.8519      0.024    -76.013      0.000      -1.900      -1.804
now_arrive_time    -0.2107      0.034     -6.247      0.000      -0.277      -0.145
distance            0.0748      0.000    234.402      0.000       0.074       0.075
weekday            -0.3905      0.083     -4.707      0.000      -0.553      -0.228
==============================================================================
Omnibus:                   406370.590   Durbin-Watson:                   1.831
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1472834708.790
Skew:                          15.056   Prob(JB):                         0.00
Kurtosis:                     411.720   Cond. No.                     2.16e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.16e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [165]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(feature, target)

LinearRegression()

In [166]:
pred = lr.predict(test)
pred

array([91.47620102, 97.61148947, 99.44686741, ..., 60.5880692 ,
       39.78794495, 69.79100187])

In [167]:
submission2 = submission
submission2["next_arrive_time"] = pred

In [168]:
submission2

           id  next_arrive_time
0      210457         91.476201
1      210458         97.611489
2      210459         99.446867
3      210460         93.236758
4      210461        109.398006
...       ...               ...
91769  302350         49.664263
91770  302351         62.757866
91771  302352         60.588069
91772  302353         39.787945
91773  302354         69.791002

[91774 rows x 2 columns]

In [169]:
submission2.to_csv("제출용3.csv",index=False)